profile: full

shared:
  ingress_domain: $domain
    
ceip_policy_disclosed: true
buildservice:
  kp_default_repository: $HARBOR_DOMAIN/build-service/tbs
  kp_default_repository_username: $HARBOR_USER
  kp_default_repository_password: $HARBOR_PWD

supply_chain: basic

ootb_supply_chain_basic:
  registry:
    server: $HARBOR_DOMAIN
    repository: "tap/supply-chain"
  gitops:
  - host: github.com
    token: $git_token

tap_gui:
  service_type: LoadBalancer
     
contour:
  infrastructure_provider: aws
  envoy:
    service:
      aws:
        LBType: nlb     

metadata_store:
  ns_for_export_app_cert: $tap_namespace
  app_service_type: LoadBalancer

scanning:
  metadataStore:
    url: "" # Disable embedded integration since it's deprecated

grype:
  namespace: "dev"
  targetImagePullSecret: "registry-credentials"
