profile: full

shared:
  ingress_domain: $tap_domain
appliveview:
  ingressEnabled: "true"
appliveview_connector:
  backend:
    sslDisabled: "true"

ceip_policy_disclosed: true
buildservice:
  kp_default_repository: $HARBOR_DOMAIN/build-service/tbs
  kp_default_repository_username: $HARBOR_USER
  kp_default_repository_password: $HARBOR_PWD
  
supply_chain: basic

ootb_supply_chain_basic:
  registry:
    server: $HARBOR_DOMAIN
    repository: "tap/supply-chain"
  gitops:
    server_address: https://github.com/
    ssh_secret: git-ssh
    repository_owner: $repo_owner
    repository_name: $repo_name 

tap_gui:
  service_type: LoadBalancer
  app_config:
    app:
        baseUrl: http://$tap_domain:7000
    integrations:
      github: 
        - host: github.com
          token: $git_token
    catalog:
      locations:
        - type: url
          # Catalog repository
          target: $catalog_info
    backend:
        baseUrl: http://$tap_domain:7000
        cors:
            origin: http://$tap_domain:7000
            

contour:
  infrastructure_provider: aws
  envoy:
    service:
      aws:
        LBType: nlb

cnrs:
  provider: aws
  domain_name: apps.$domain
  # Fix domain template for TSL certficates
  domain_template: "{{.Name}}-{{.Namespace}}.{{.Domain}}"

metadata_store:
  ns_for_export_app_cert: $tap_namespace
  app_service_type: LoadBalancer


scanning:
  metadataStore:
    url: "" # Disable embedded integration since it's deprecated

grype:
  namespace: "dev"
  targetImagePullSecret: "registry-credentials"

# Temporay fix for 1.2
package_overlays:
- name: tap-gui
  secrets:
  - name: k8s-reader-overlay
